*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --slider-padding: 5rem;
}

.MovieCastContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 2;
  --slider-index: 0;
  display: flex;
  width: 100px;
  flex-grow: 1;
  margin: 0 0.25rem;
  transform: translateX(calc(var(--slider-index) * -5%));
  transition: transform 250ms ease-in-out;
}

.slider > .MovieCastdetails {
  flex: 0 0 0;
  width: 200px;
  aspect-ratio: 16 / 9;
  padding: 0.25rem;
  border-radius: 1rem;
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  height: 200px;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.handle:hover,
.handle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
  flex-wrap: wrap;
  transform: scale(1.2);
}

/* Responsive */

@media (max-width: 320px) {
}

@media screen and (min-width: 321px) and (max-width: 460px) {
}

@media screen and (min-width: 361px) and (max-width: 425px) {
}

@media screen and (min-width: 426px) and (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
